@import "fluid-property";

.container{
  margin: 0 auto;
  @include fluid-property(width, 320, 768, 480, 1200, px);
}

h1 {
  @include fluid-property(font-size, 3, 4, 31.25, 75);
}

.lead {
  @include fluid-property(font-size, 1.5, 2.5, 32.25, 75);  
}

p {
  @include fluid-property(font-size, 1, 2, 31.25, 75);
  @include fluid-property(line-height, 1.2, 1.5, 31.25, 75);
}

p::first-child::first-letter {
  float: left;
  font-weight: 800;
  @include fluid-property(font-size, 4, 6, 31.25, 75);
}