@import "fluid-property";

.container{
  margin: 0 auto;
  @include fluid-property(width, 320, 768, 480, 1200, px);
}

h1 {
  @include fluid-property(font-size, 3, 4, 31.25, 75);
}

.lead {
  @include fluid-property(font-size, 1.5, 2.5, 32.25, 75);  
}

p {
  @include fluid-property(font-size, 1, 2, 31.25, 75);
  @include fluid-property(line-height, 1.2, 1.5, 31.25, 75);
}

.dropcap:first-letter {
  float: left;
  font-weight: 700;
  line-height: 0.5em;
  padding-top: 0.18em;
  padding-right: 0.1em;

  @include fluid-property(font-size, 2, 3, 31.25, 75);
  @include fluid-property(line-height, 2, 3, 31.25, 75);
}